<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head( title = 'Empleados')"></head>
<body>
<main>
    <div class="container px-4 pb-5">
        <div th:replace="fragments/header.html :: header('Empleados')"></div>
        <h1 class="pb-2 border-bottom">Lista de empleados</h1>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Fecha de inicio</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Salario</th>
                <th>Jefe</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp, info : ${employees}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${emp.firstName} + ' ' +${emp.lastName}"></td>
                <td th:text="${emp.hireDate}"></td>
                <td th:text="${emp.email}"></td>
                <td th:text="${emp.phoneNumber}"></td>
                <td th:text="${emp.salary}"></td>
                <td th:if="${emp.manager !=null}"
                    th:text="${emp.manager.firstName} + ' ' + ${emp.manager.lastName}"></td>
                <td th:if="${emp.manager ==null}">Sin jefe</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:replace="fragments/footer.html :: footer-bootstrap"></script>
</body>
</html>
