<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header(option)">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eaedfc;">
        <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/icon.png}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            HR <span style="color: black;">[Lab 6]</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-app" aria-controls="navbar-app" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-star" id="navbar-app">
            <ul class="navbar-nav">
                <li class="nav-item" >
                    <a class="nav-link" th:classappend="${option == 'lista'}?'active' :''" th:href="@{/empleados/lista}">Empleados</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" th:classappend="${option == 'listasueldo'}?'active' :''" th:href="@{/listasueldo}">Empleados por sueldo</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" th:classappend="${option == 'listaanios'}?'active' :''" th:href="@{/lista/tiempo}">Empleados por años</a>
                </li>
            </ul>
    </nav>
</div>
</body>
</html>